.ws-ContactsHeader{
   font: 12pt Arial, SANS-SERIF;
   padding: 20px 0 10px;
   margin: 0;
}
.ws-ContactsHeader__title{
   padding: 7px 0;
   font-size: 15pt;
}
.ws-ContactsHeader__left{
   float: left;
   width: 20%;
}
.ws-ContactsHeader__right{
   float: left;
   width: 78%;
   margin-left: 2%;
}
.ws-ContactsHeader__searchContainer{
   width: 500px;
}
.ws-ContactsHeader__clearHelper{
   clear : both;
}
.ws-ContactsHeader__buttonWrapper{
   margin-top: 10px;
}