<div class="ws-ContactsHeader"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ws="ws-component">

   <div class="ws-ContactsHeader__left">
      <span class="ws-ContactsHeader__title">
         Телефонный справочник
      </span>
   </div>
   <div class="ws-ContactsHeader__right">
      <div class="ws-ContactsHeader__searchContainer">
         <ws:core.Search name="search" config="{}"/>
      </div>
   </div>

   <div class="ws-ContactsHeader__clearHelper"></div>

   <div class="ws-ContactsHeader__buttonWrapper">
      <div class="ws-ContactsHeader__left">
         <ws:core.Button name="addGroup" config='{"caption" : "Добавить группу"}'/>
      </div>
      <div class="ws-ContactsHeader__right">
         <ws:core.Button name="addContact" config='{"caption" : "Добавить контакт"}'/>
      </div>
   </div>

   <div class="ws-ContactsHeader__clearHelper"></div>
</div>
