<div class="ws-ContactsEditContact"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ws="ws-component">

   <div class="ws-ContactsEditContact__left">
      <div class="ws-ContactsEditContact__userPic"></div>
   </div>

   <div class="ws-ContactsEditContact__right">

      <ws:contacts.Tabs>
         <tabs>
            <tab id="1" active="true" caption="Основное">

               <span class="ws-ContactsEditContact__label">Имя</span>
               <ws:core.String name="firstname"/>
               <span class="ws-ContactsEditContact__label">Фамилия</span>
               <ws:core.String name="secondname"/>
               <span class="ws-ContactsEditContact__label">Телефон</span>
               <ws:core.String name="phone"/>
               <span class="ws-ContactsEditContact__label">E-mail</span>
               <ws:core.String name="email"/>
               <span class="ws-ContactsEditContact__label">Группа</span>
               <div class="ws-ContactsEditContact__groupContainer">
                  <ws:core.Select name="groupid" config='{"handlers" : {"onInit" : "", "BlaBlaBla" : "js!contacts.EditContact/resources/handlers:myHdl"}}'/>
               </div>

            </tab>
            <tab id="2" caption="Дополнительное">
               Дополнительная информация
            </tab>
         </tabs>
      </ws:contacts.Tabs>

      <div class="ws-ContactsEditContact__btnContainer">
         <ws:core.Button name="save" config='{"caption" : "Сохранить"}'/>
         <ws:core.Button name="delete" config='{"caption" : "Удалить"}'/>
      </div>
   </div>

   <div class="ws-ContactsEditContact__clear"></div>

</div>