.ws-ContactsEditContact{
   width: 700px;
   margin: 0 auto;
   background-color: #ffffff;
   padding: 30px;
   box-shadow: 0 0 15px #cccccc;
}
.ws-ContactsEditContact__left{
   float: left;
   width: 20%;
}
.ws-ContactsEditContact__right{
   float: left;
   width: 80%;
}
.ws-ContactsEditContact__userPic{
   width: 128px;
   height: 128px;
   background: url("/components/contacts/EditContact/resources/kenny.png");
}
.ws-ContactsEditContact__btnContainer{
   padding: 10px 0;
}
.ws-ContactsEditContact__groupContainer{
   width: 200px;
}

.ws-ContactsEditContact__clear{
   clear: both;
}

