<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ws="ws-component">
<head>
   <title>{{=it.title}}</title>
   <link rel="stylesheet" href="/views/doubleColumn/styles.css"/>
   <script type="text/javascript" src="/core/ext/requirejs/require.js"></script>
   <script type="text/javascript" src="/core/main.js"></script>
   <script type="text/javascript">
      require(["core"], function(core){
         core.bootup({{=it.dependencies}}, {{=it.clientControllers}});
      });
   </script>
</head>
<body class="view-doubleColumn">
<div class="view-doubleColumn-header">
   {{=it.header || ""}}
</div>
<div class="view-doubleColumn__left">
   {{=it.left || ""}}
</div>
<div class="view-doubleColumn__right">
   {{=it.right || ""}}
</div>
<div class="view-doubleColumn__footer">
   {{=it.footer || ""}}
</div>
</body>
</html>