.view-doubleColumn{
   font-family: Arial, SANS-SERIF;
   background-color: #ffffff;
   width: 1000px;
   margin: 0 auto;
}
.view-doubleColumn__right{
   float: left;
   width: 78%;
   margin-left: 2%;
   min-height: 100px;
}
.view-doubleColumn__left{
   float: left;
   width: 20%;
   min-height: 100px;
}