<div class="contacts-Tabs"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ws="ws-component">

   <div class="contacts-Tabs__btnContainer">
      {{for (var i = 0, l = it.tabs.length; i < l; i++){}}
         <div data-for="{{=it.tabs[i].id}}" class="contacts-Tabs__btn{{=it.tabs[i].active ? ' contacts-Tabs__btn__active-true' : ''}}">{{=it.tabs[i].caption}}</div>
      {{}}}
   </div>
   <div class="contacts-Tabs__viewContainer">
      {{for (var i = 0, l = it.tabs.length; i < l; i++){}}
         <div data-tab="{{=it.tabs[i].id}}" class="contacts-Tabs__view{{=it.tabs[i].active ? ' contacts-Tabs__view__active-true' : ''}}">{{=it.tabs[i].content}}</div>
      {{}}}
   </div>

</div>
