.contacts-Tabs{

}

.contacts-Tabs__btn{
   float: left;
   padding: 4px 5px 2px;
   border-width: 0 0 3px;
   border-style: solid;
   border-color: transparent;
   cursor: pointer;

   &.contacts-Tabs__btn__active-true,
   &:hover{
      border-color: #dd4b39;
   }
}

.contacts-Tabs__viewContainer{
   clear : both;
}

.contacts-Tabs__view{
   display: none;

   &.contacts-Tabs__view__active-true{
      display: block;
   }
}