<div class="ws-ContactsList">
   {{for (var i = 0, l = it.list.length; i < l; i++){}}
   <a class="ws-ContactsList__item" href="/index/edit?id={{=it.list[i]['id']}}">
      <div class="ws-ContactsList__fio">
         <div class="ws-ContactsList__cellContent">
            {{=it.list[i]["fio"]}}
         </div>
      </div>
      <div class="ws-ContactsList__phone">
         <div class="ws-ContactsList__cellContent">
            {{=it.list[i]["phone"]}}
         </div>
      </div>
   </a>
   {{}}}
</div>