.ws-ContactsList{
   font-size: 10pt;
}
.ws-ContactsList__item{
   border-top: 1px solid #eeeeee;
   padding: 7px 0;
   cursor: pointer;
   display: block;
   color: #000;
}
.ws-ContactsList__item:hover{
   background-color: #eeeeee;
}
.ws-ContactsList__item:first-child{
   border: none;
}
.ws-ContactsList__item::before,
.ws-ContactsList__item::after {
   clear : both;
   display: table;
   line-height: 0;
   content: "";
}
.ws-ContactsList__cellContent{
   padding: 0 5px;
}
.ws-ContactsList__fio{
   width: 50%;
   float: left;
}
.ws-ContactsList__phone{
   width: 50%;
   float: left;
}