<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ws="ws-component">
<head>
   <title>{{=it.title}}</title>
   <link rel="stylesheet" href="/views/main/styles.css"/>
   <script type="text/javascript" src="/core/ext/requirejs/require.js"></script>
   <script type="text/javascript" src="/core/main.js"></script>
   <script type="text/javascript">
      require(["core"], function(core){
         core.bootup({{=it.dependencies}}, {{=it.clientControllers}});
      });
   </script>
</head>
<body class="view-main">
   <div class="view-main__Content">
      {{=it.content || ""}}
   </div>
</body>
</html>