.ws-ContactsGroups{
   font: 12pt Arial, SANS-SERIF;
   padding: 0;
   margin: 0;
}
.ws-ContactsGroups__item{
   list-style: none inside;
   cursor: pointer;
}
.ws-ContactsGroups__link{
   text-decoration: none;
   color : #000;
   display: block;
   padding: 6px 7px 5px;
}
.ws-ContactsGroups__item__active-true .ws-ContactsGroups__link{
   color: #dd4b39;
}

.ws-ContactsGroups__item:hover{
   background-color: #eeeeee;
}
.ws-ContactsGroups__delete{
   display: none;
   margin-top: 3px;
   width: 11px;
   height: 11px;
   line-height: 5px;
   float: right;
   margin-right: 5px;
   font-size: 22pt;
   border: 1px solid #777;
   color: #777;
}
.ws-ContactsGroups__delete:hover{
   background-color: #eee;
   color: #444;
   border-color: #444;
}
.ws-ContactsGroups__item:hover .ws-ContactsGroups__delete{
   display: block;
}