<ul class="ws-ContactsGroups">
   <li class="ws-ContactsGroups__item" data-id="all">
      <a class="ws-ContactsGroups__link" href="#group/all">Все</a>
   </li>
   {{for (var i in it.list) {}}
      <li class="ws-ContactsGroups__item" data-id="{{=it.list[i]['id']}}">
         <a class="ws-ContactsGroups__link" href="#group/{{=it.list[i]['id']}}">{{=it.list[i]["name"]}}<span class="ws-ContactsGroups__delete">-</span></a>
      </li>
   {{}}}
</ul>
