<div class="ws-Search"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ws="ws-component">

   <div class="ws-Search__buttonContainer">
      <ws:core.Button name="button" config='{"caption" : "Поиск"}'/>
   </div>
   <div class="ws-Search__stringContainer">
      <ws:core.String name="string"/>
   </div>

</div>